* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 1.1vw;

}

body {
  color: #0F0F0F;
  background-color: whitesmoke;

  display: flex;
  flex-direction: column;

  height: 100vh;

  font-family: "Roboto", sans-serif;
  
}


nav 
{

    
    background-color: whitesmoke;
    z-index: 10;
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100vw;
}

#First
{
    flex: 0.2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#First img:first-child
{
   
    height: 2em;
}
#First img:last-child
{
    margin-left: 10px;
    height: 1.5rem;
}

#Second
{
    display: flex;
    align-content: center;
    justify-content: center;
    flex: 0.5;

    
}


#SearchContent
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#Second input
{
    width: 100%;
    padding: 0.35rem 10px;
    border: 1px solid gray;
    border-radius: 30px;
    height: 100%;

    outline: none;
   
}
  


#SearchDiv
{
    position: absolute;
  
    right:0;
    width:2rem;
    margin-right:10px;
}





#Mic
{
    margin-left: 10px;
    background-color: #ebe8e8;
    border-radius: 50%;
    padding: 0.25rem 0.3em;
    height: 2rem;
}


#Third
{
    flex: 0.2;

    /* border: 1px solid red; */
}

#Third
{
    padding-right: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.7rem;
}

#Third img:nth-child(1)
{   
    height: 1.7rem;

}
#Third img:nth-child(2)
{   
    height: 1.7rem;

}
#Third img:nth-child(3)
{   
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid gray;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}


@media screen and (max-width:750px)
{

    *
    {
        font-size: 1.7vw;
    }
}
@media screen and (max-width:450px)
{

    *
    {
        font-size: 2.5vw;
    }
    nav 
    {
        width: 150%;
}
}

/*? ----------------------------------------------------------------------------------------------- */


main
{
    display: flex;
    align-items: center;
    
   flex: 1;
   
    /* border: 2px solid red; */
}


#SideBar
{   
     /* border: 2px solid red; */
    flex: 0.15;
    height: 700px;
position: fixed;
overflow: scroll;
top: 45px;
    left: 0;

    z-index: 10;
    

}
.item
{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    transform: 0.1s;
    border-radius: 2px;
    padding: 10px 0;
    padding-left: 6px;
}
#You
{
    font-weight: 700;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 10px;
    font-family: sans-serif;
    color: rgb(75, 70, 70);

}
#sd
{
    font-weight: 700;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 15px;
    margin-top: 10px;
    color: rgb(56, 54, 54);
}
#Explore{
    font-size: 17px;
    font-weight: 900;
    font-weight: bold;
    margin-left: 10px;
    font-family: sans-serif;
    color: rgb(56, 54, 54);

}
#mfy{
    font-size: 17px;
    font-weight: 1000;
    font-weight: bold;
    margin-left: 3px;
    font-family: sans-serif;
    color: rgb(56, 54, 54);
}

.item img
{
    height: 1.4rem;
    /* background-color: rgb(39, 38, 38); */
}
  
.item:hover{
    background-color: #E6E6E6;
}





#Videos
{
    position: relative;
    left: 20%;
    flex: 0.85;
    height: 100%;
    /* margin-right: 40px; */
    /* border: 2px solid red; */

}




/* ------------------------------------------------ */


#Videos
{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}


.Video
{
    width: 350px;
    height: 330px;
    margin: 20px 10px;
    margin-top: 60px;
    background-color: lightgray;
    padding-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.Thumbnail {
    height: 60%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.Thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Content {
    margin: 10px;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.Content img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.Content div {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.Content div p:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.Content div p:nth-child(2) {
    font-weight: normal;
    color: gray;
}